<div class="p-3">
    <div class="row">
        <div class="col-lg-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let fila of imagenes_evento">
                        <td>{{fila.id_ie}}</td>
                        <td>
                            <img style="height:110px;" class="img-fluid w-50" [src]="fila.imagen_url" alt="" srcset="">
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button (click)="eliminarImagenEvento(fila.id_ie,fila.public_id)" class="btn btn-danger">Eliminar</button>
                                <button [disabled]="fila.portada == 1 ? true:false" (click)="establecerPortada(fila.id_ie)" class="btn btn-warning">Establecer como portada</button>
                            </div>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>

        <div class="col-lg-8">
            <form [formGroup]="formDetalleEvento">
                <div class="form-group">
                    <input (change)="mostrarImagenesSeleccionadas($event)" formControlName="archivo" class="form-control-file" type="file" multiple>
                </div>

                <div class="form-group">
                    <button (click)="agregarImagenesEvento()" class="btn btn-primary">Agregar Imagenes</button>
                </div>
            </form>

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let url of imagenes_leidas; let primera = first;" [ngClass]="{active:primera}" class="carousel-item">
                        <img [src]="url" class="d-block w-100" alt="...">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>