<div class="div container">
    <br>
    <h1><strong>NOSOTROS</strong></h1>
    <br>
    <br>
    <div class="progress" style="height: 1px;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <p>SOMOS UN GRUPO DE VOLUNTARIOS QUE ASISTE AL LUGAR PARA LIMPIAR, ALIMENTAR Y BUSCAR ADOPCIÓN A LOS JORDANES</p>
    <img src="assets/nosotros.jpg" class="d-block w-100" alt="">
    <br>
    <br>
    <H2>
        <p class="text-danger"><strong>NUESTROS OBJETIVOS</strong></p>
    </H2>
    <p>
        <li>Nuestro principal objetivo es lograr cerrar la perrera ubicada en Cipolletti, Rio Negro. Esto solamente es posible logrando dar en adopción responsable a cada uno de los jordanes</li>
    </p>
    <p>
        <li>Fomentar el equilibrio poblaciononal de animales </li>
    </p>
    <p>
        <li>Reducir la sobrepoblación de perros </li>
    </p>
    <br>
    <div class="progress" style="height: 1px;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

</div>