
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="assets/logo.jpg" alt="" width="9%" height="9%"> 
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link" routerLink="home">Inicio</a>
        <a class="nav-link" routerLink="">Nosotros</a>
        <a class="nav-link" routerLink="nuestros-jordanes">Canino</a>
        <a class="nav-link" routerLink="">Adoptá</a>
        <a class="nav-link" routerLink="">Doná</a> 
        <a class="nav-link" routerLink="contacto">Contacto</a>

        <div class="administrador">
          <a class="nav-link" routerLink="ingresar">ingresar</a>
          <a class="nav-link" routerLink="registro">Registrarme</a>
          </div>
          <a class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" *ngIf="authServ.verificarUsuarioLogueado()" data-toggle="dropdown" data-target="desplegable" href="#">
              <img src="assets/usuarioAdmin.png" alt="" width="15%" height="15%">
            </a>
            <div class="dropdown-menu" style="background: white;">
             
             
              <li class="nav-item">
                <a class="nav-link"  *ngIf="authServ.verificarUsuarioLogueado()" href="#" routerLink="/canino">Caninos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="authServ.verificarUsuarioLogueado()" href="#" routerLink="/admin-evento">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="authServ.verificarUsuarioLogueado()"  href="#" routerLink="/form-adopcion">Adopcion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="authServ.verificarUsuarioLogueado()" href="#" routerLink="/requisitos">Requisitos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="authServ.verificarUsuarioLogueado()" href="#" routerLink="/donaciones">Donaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="authServ.verificarUsuarioLogueado()" href="#" routerLink="/categoria-donaciones">Categoría Donaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="authServ.verificarUsuarioLogueado()" href="#" routerLink="/provincia">Provincia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="authServ.verificarUsuarioLogueado()" href="#" routerLink="/localidades">Localidades</a>
            </li>
            
            </div>
          </a>

        </div>
     
      
      </div>
    
      
    </div>
  
  </nav>
 