
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="assets/logo.jpg" alt="" width="9%" height="9%"> 
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link" routerLink="home">Inicio</a>
        <a class="nav-link" routerLink="home">Nosotros</a>
        <a class="nav-link" routerLink="canino">Canino</a>
        <a class="nav-link" routerLink="form-adopcion">Adopta</a>
        <a class="nav-link" routerLink="contacto">Dona</a> 
        <a class="nav-link" routerLink="contacto">Contacto</a>
        
        </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="desplegable" href="#">
            <img src="assets/usuarioAdmin.png" alt="" width="15%" height="15%">
          </a>
          <div class="dropdown-menu" style="background: white;">
           
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/canino">Caninos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/admin-evento">Eventos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/form-adopcion">Adopcion</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/requisitos">Requisitos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/donaciones">Donaciones</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/categoria-donaciones">Categoría Donaciones</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/provincia">Provincia</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/localidades">Localidades</a>
          </li>
          
          </div>
        </li>
      
      </div>
    
      
    </div>
  
  </nav>
 