<div class="row">
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCanino">
            Crear Canino
          </button>
    </div>
</div>
<br>
<div class="row">

    <br>
    <div class="col-lg-12">

        <div class="card">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del canino</th>
                        <th>Fecha de nacimiento</th>
                        <th>Edad</th>
                        <th>Sexo</th>
                        <th>Tamaño</th>
                        <th>castrado</th>
                        <th>Desparasitado</th>
                        <th>Vacunado</th>
                        <th>Descripción del Canino</th>
                        <th>Estado adopcion</th>
                        <th>Fecha adopcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of canino">
                        <td>{{fila.id_canino}}</td>
                        <td>{{fila.nombre}}</td>
                        <td>{{fila.fn_formateada}}</td>
                        <td>{{fila.edad}}</td>
                        <td align="center">
                            <div *ngIf="fila.sexo == 0">
                                <span class="badge badge-primary">Hembra</span>
                            </div>
                            <div *ngIf="fila.sexo == 1">
                                <span class="badge badge-primary">Macho</span>
                            </div>
                            <div *ngIf="fila.sexo == 2">
                                <span class="badge badge-danger">No Registrado</span>
                            </div>
                        </td>
                        <td align="center">
                            <div *ngIf="fila.tamanio == 0">
                                <span class="badge badge-primary">Pequeño</span>
                            </div>
                            <div *ngIf="fila.tamanio == 1">
                                <span class="badge badge-primary">Mediano</span>
                            </div>
                            <div *ngIf="fila.tamanio == 2">
                                <span class="badge badge-primary">Grande</span>
                            </div>
                            <div *ngIf="fila.tamanio == 3">
                                <span class="badge badge-danger">No Registrado</span>
                            </div>
                        </td>
                        <td align="center">
                            <div *ngIf="fila.castrado == 0; else castrado_bool">
                                <span class="badge badge-danger">No Castrado</span>
                            </div>
                            <div *ngIf="fila.castrado == 1">
                                <span class="badge badge-primary">Castrado</span>
                            </div>
                            <div *ngIf="fila.castrado == 2">
                                <span class="badge badge-danger">No Registrado</span>
                            </div>
                            <td align="center">
                                <div *ngIf="fila.desparasitado == 0">
                                    <span class="badge badge-danger">No Desparasitado</span>
                                </div>
                                <div *ngIf="fila.desparasitado == 1">
                                    <span class="badge badge-primary">Desparasitado</span>
                                </div>
                                <div *ngIf="fila.desparasitado == 2">
                                    <span class="badge badge-danger">No Registrado</span>
                                </div>
                            </td>
                            <td align="center">
                                <div *ngIf="fila.vacunado == 0">
                                    <span class="badge badge-danger">No Vacunado</span>
                                </div>
                                <div *ngIf="fila.vacunado == 1">
                                    <span class="badge badge-primary">Vacunado</span>
                                </div>
                                <div *ngIf="fila.vacunado == 2">
                                    <span class="badge badge-danger">No Registrado</span>
                                </div>
                            </td>
                            <td>{{fila.descripcion}}</td>
                            <td align="center">
                                <div *ngIf="fila.estado_adopcion == 0">
                                    <span class="badge badge-danger">No Adoptado</span>
                                </div>
                                <div *ngIf="fila.estado_adopcion == 1">
                                    <span class="badge badge-primary">Adoptado</span>
                                </div>
                                <div *ngIf="fila.estado_adopcion == 2">
                                    <span class="badge badge-danger">No Registrado</span>
                                </div>
                            </td>
                            <td>{{fila.fa_formateada}}</td>

                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button (click)="detalleCanino(fila.id_canino)" class="btn btn-primary">Detalle</button>
                                    <button (click)="eliminarCanino(fila.id_canino)" class="btn btn-danger">Eliminar</button>
                                    <button (click)="editarCanino(fila)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCanino">Actualizar</button>
                                </div>

                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCanino" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Canino</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form [formGroup]="formCanino" (ngSubmit)="guardarCanino()" novalidate>
                <div class="modal-body">

                    <input formControlName="id_canino" type="hidden">

                    <div class="form-group">
                        <input formControlName="nombre" placeholder="Ingrese nombre del canino" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea formControlName="fecha_nacimiento" placeholder="Ingrese fecha de nacimiento" class="form-control" name="" id="" cols="30" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <input formControlName="edad" placeholder="Ingrese edad" class="form-control" name="" id="" cols="30" rows="4">
                    </div>
                    <div class="form-group">
                        <select formControlName="sexo" placeholder="Ingrese el sexo" class="form-control" name="Ingrese el Sexo">
                            <option value="2">Ingrese el sexo</option>
                            <option value="0">Hembra</option>
                            <option value="1">Macho</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <select formControlName="tamanio" placeholder="Ingrese tamaño" class="form-control" name="Ingrese Tamaño">
                            <option value="3">Ingrese el tamaño</option>
                            <option value="0">Pequeño</option>
                            <option value="1">Mediano</option>
                            <option value="2">Grande</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <select formControlName="castrado" placeholder="Ingrese estado de castración" class="form-control" name="Ingrese Estado de Castración">
                            <option value="2">Ingrese el estado de castración</option>
                            <option value="0">No Castrado</option>
                            <option value="1">Castrado</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <select formControlName="desparasitado" placeholder="Ingrese estado de desparasitación" class="form-control" name="Ingrese Estado de Desparasitación">
                            <option value="2">Ingrese el estado de desparasitación</option>
                            <option value="0">No desparasitado</option>
                            <option value="1">Desparasitado</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <select formControlName="vacunado" placeholder="Ingrese estado de vacunación" class="form-control" name="Ingrese Estado de Vacunación">
                            <option value="2">Ingrese el estado de vacunación</option>
                            <option value="0">No Vacunado</option>
                            <option value="1">Vacunado</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese descripcion del canino" class="form-control" name="" id="" cols="30" rows="4">
                    </div>
                    <div class="form-group">
                        <select formControlName="estado_adopcion" placeholder="Ingrese estado de adopcion" class="form-control" name="Ingrese Estado de Adopción">
                            <option value="2">Ingrese el estado de adopción</option>
                            <option value="0">No Adoptado</option>
                            <option value="1">Adoptado</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <input formControlName="fecha_adopcion" placeholder="Ingrese fecha de adopcion" class="form-control" name="" id="" cols="30" rows="4">
                    </div>

                    <div [style]="ocultar_boton_archivos" class="form-group">
                        <input (change)="mostrarImagenSeleccionada($event)" formControlName="archivo" class="form-control-file" type="file" name="" id="" multiple>
                    </div>




                    <div [style]="ocultar_boton_archivos" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div *ngFor="let url of imagenes_url; let isFirst = first" [ngClass]="{active:isFirst}" class="carousel-item">
                                <img [src]="url" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <div class="btn-group">
                        <button [disabled]="formCanino.invalid" class="btn btn-success">Guardar canino</button>
                        <button type="button" (click)="vaciarForm()" class="btn btn-primary">Vaciar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>