<header>
    <div class="wrapper" style="width: 99vw;">

    </div>
    <div class="welcome-text">

        <h1>
            Fundación <span>SOS</span></h1>
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">Contacto</a>
    </div>
</header>



<div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">


            <section id="contact">
                <div class="social">

                    <a href="https://www.facebook.com/guarderiacaninaislajordancipolletti"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=5492994194451&fbclid=IwAR2rF6hLXZDdD9q5IzmUwCI1t1zlGnhTJZ8z5iN8tr5guwwmgVMuBYJgZwM"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/guarderia_canina_isla_jordan/"><i class="fab fa-instagram"></i></a>

                </div>

                <div class="contact-box">
                    <!--heading---------->
                    <div class="c-heading">
                        <h1>Contactenos</h1>
                        <p>Contactenos vía E-mail o teléfono para despejar sus dudas</p>
                    </div>
                    <!--inputs------------------>
                    <div class="c-inputs">
                        <form>
                            <input type="text" name="fname" placeholder="Ingrese su Nombre Completo" />
                            <input type="email" placeholder="Ingrese su E-Mail" />
                            <textarea name="message" placeholder="¿En qué lo podemos ayudar?"></textarea>
                            <button>Enviar</button>
                        </form>
                    </div>

                </div>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d10435.402831219191!2d-67.9798421772029!3d-38.95907584112851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-38.96046!2d-67.9774868!5e0!3m2!1sen!2sar!4v1607724557430!5m2!1sen!2sar"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </section>
        </div>
    </div>
</div>

<!---------------------------------------------------------------------------------------------------!-->
<div class="p-3">
    <div id="canino">

        <h2>
            <p class="text-danger">Bienvenidos Jordanes</p>
        </h2>
        <p class="text-muted">Buscan un hogar donde sean cuidados con <strong>responsabilidad, amor y compromiso.</strong></p>

        <div class="row">

            <div class="col-lg-2" *ngFor="let canino of lista_caninos | paginate:{itemsPerPage:5,currentPage:p}">
                <div class="card border-danger">
                    <img [src]="canino.imagen_portada" class="card-img-top" style="height: 250px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{canino.nombre}}</h5>
                        <a routerLink="../nuestros-jordanes" class="btn btn-primary">Conocé más</a>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>