<br>
<div class="container">
    <H1>Un gran aporte a los
        <STRONG>jordanes</STRONG>
    </H1>
</div>

<div class="div container">
    <br>
    <div class="progress" style="height: 1px;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<br>
<div class="div container">
    <div>
        <p>Los aportes económicos son importantes para pagar tratamientos, estudios médicos y honorarios veterinarios, para comprar alimento, financiar campañas de castración en zonas carenciadas, para tener la posibilidad de tener impreso el material de
            difusión.
        </p>
        <p>Por fortuna existe la alternativa de donar dinero para este tipo de causas, una acción que año tras año gana más adeptos en el mundo y que demuestra que la solidaridad, la generosidad y la empatía son valores vigentes y necesarios.</p>

    </div>
</div>
<br>
<br>
<div class="div container">
    <div class="row">
        <div class="col-md-6">
            <H3>Doná
                <STRONG>INSUMOS</STRONG>
            </H3>
            <hr>
            <p><strong>Tu aporte nos permite continuar llevando a cabo actividades sanitarias, educativas y de asistencialismo.</strong></p>
            Lo que podes donar:
            <li>Antiparasitarios en comprimidos o suspensión.</li>
            <li>Antipulgas para perros.</li>
            <li>Elementos de limpieza (Lavandina, Detergente, Cif, Baldes, Etc).</li>
            <li>Elementos de Curación (Gasas, Algodón, Guantes de Látex, Agua Oxigenada, Alcohol, Etc).</li>
            <li>Ropa de invierno, frazadas, mantas, almohadones, colchones, etc (lo que ayude a que nuestros jordanes pasar el frío).</li>
            <li>Alimento.</li>
            <li>Aserrín.</li>
        </div>
        <div class="col-md-6">
            <H3>Doná a través de
                <STRONG>MERCADOPAGO</STRONG>
            </H3>
            <hr><br>
            <a target="_blank" href="https://mpago.la/1nrKwL1">
                <button align="center" type="button" class="btn btn-danger btn-lg btn-block">Doná el importe que desees</button>
            </a>

        </div>
    </div>
</div>