<div class="row">
    <div class="col-sm-8">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input placeholder="Ingrese criterio de búsqueda" [(ngModel)]="buscarLocalidades" type="text" class="form-control">
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Provincia</th>
                    <th>Nombre</th>
                    <th>Código Postal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let localidades of listLocalidades | filter:buscarLocalidades | paginate:{itemsPerPage:5,currentPage:p}">
                    <td>{{localidades.id_localidad}}</td>
                    <td>{{localidades.provincia_id}}</td>
                    <td>{{localidades.nombre}}</td>
                    <td>{{localidades.codigopostal}}</td>
                    <td>
                        <div class="btn-group-sm">
                            <button class="btn btn-danger" (click)="eliminarLocalidades(localidades.id_localidad)">Eliminar</button>
                            <button class="btn btn-primary" (click)="editarLocalidades(localidades)">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-4">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="col-sm-4">

        <div class="card">
            <div class="card-header">Formulario Localidades</div>
            <div class="card-body">
                <form [formGroup]="formLocalidades" (ngSubmit)="guardarLocalidades()" novalidate>

                    <input formControlName="id_localidad" type="text" type="hidden">


                    <div class="form-group">
                        <select formControlName="provincia_id" class="form-control">
                            <option value="0" disabled selected>Seleccionar Localidad</option>
                            <option *ngFor="let provincia of lista_provincia" [value]="provincia.id">{{provincia.nombre}}</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formLocalidades.get('nombre')?.touched || formLocalidades.get('nombre')?.dirty) && formLocalidades.get('nombre')?.invalid}" formControlName="nombre" placeholder="Ingrese el Nombre" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formLocalidades.get('nombre').hasError('required')">Campo Requerido </span>
                            <span *ngIf="!formLocalidades.get('nombre').hasError('minLength')">Mínimo 2 Caracteres</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formLocalidades.get('codigopostal')?.touched || formLocalidades.get('codigopostal')?.dirty) && formLocalidades.get('codigopostal')?.invalid}" formControlName="codigopostal" placeholder="Ingrese el Código Postal" type="text"
                            class="form-control">
                        <div class="invalid-feedback"><span *ngIf="formLocalidades.get('codigopostal').hasError('required')">Campo Requerido </span>
                        </div>
                    </div>

                    <button [disabled]="formLocalidades.invalid" class="btn btn-success">Guardar Localidades</button>

                </form>
            </div>
        </div>
    </div>
</div>