    <div class="card mb-3" *ngFor="let evento of lista_eventos">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="evento.imagen_portada" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{evento.titulo}}</h5>
              <p class="card-text">{{evento.descripcion}}</p>
              <p class="card-text"><small class="text-muted">{{evento.ubicacion}}</small></p>
              <button (click)="contacto(evento.contacto)" class="btn btn-warning">Contacto</button>
            </div>
          </div>
        </div>
      </div>
      

     