<div class="row">
    <div class="col-sm-8">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input placeholder="Ingrese criterio de búsqueda" [(ngModel)]="buscarProvincia" type="text" class="form-control">
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let provincia of listProvincia | filter:buscarProvincia | paginate:{itemsPerPage:5,currentPage:p}">
                    <td>{{provincia.id}}</td>
                    <td>{{provincia.nombre}}</td>
                    <td>
                        <div class="btn-group-sm">
                            <button class="btn btn-danger" (click)="eliminarProvincia(provincia.id)">Eliminar</button>
                            <button class="btn btn-primary" (click)="editarProvincia(provincia)">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-4">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="col-sm-4">

        <div class="card">
            <div class="card-header">Formulario Provincia</div>
            <div class="card-body">
                <form [formGroup]="formProvincia" (ngSubmit)="guardarProvincia()" novalidate>

                    <input formControlName="id" type="text" type="hidden">

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formProvincia.get('nombre')?.touched || formProvincia.get('nombre')?.dirty) && formProvincia.get('nombre')?.invalid}" formControlName="nombre" placeholder="Ingrese el Nombre" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formProvincia.get('nombre').hasError('required')">Campo Requerido </span>
                        </div>
                    </div>

                    <button [disabled]="formProvincia.invalid" class="btn btn-success">Guardar Provincia</button>

                </form>
            </div>
        </div>
    </div>
</div>