<div class="p-3">
    <h2>
        <p class="text-danger">Conocé a nuestros jordanes</p>
    </h2>
    <p class="text-muted">Buscan un hogar donde sean cuidados con <strong>responsabilidad, amor y compromiso.</strong></p>

    <div class="row">

        <div class="col-lg-2" *ngFor="let canino of lista_caninos | paginate:{itemsPerPage:5,currentPage:p}">
            <div class="card border-danger mb-3 "> <img [src]="canino.imagen_portada " class="card-img-top" style="height: 250px;" alt="..." style="height: 250px;">
                <div class="card-body ">
                    <h5 class="card-title ">{{canino.nombre}}</h5>
                    <button (click)="detalleCaninoPublic(canino.id_canino) " class="btn btn-primary ">Conoce más de {{canino.nombre}}</button>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-4">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>