<div class="row">
    <div class="col-lg-4" *ngFor="let canino of lista_caninos">

        <div class="card border-danger mb-3">
            <img [src]="canino.imagen_portada" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{canino.nombre}}</h5>            
              <button (click)="detalleCaninoPublic(canino.id_canino)" class="btn btn-primary">Conoce más de {{canino.nombre}}</button>
            </div>
          </div>
    </div>
</div>